body {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.hero {
    background-repeat: no-repeat;
}

#startgame {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25vh;
    left: 25vw;
    background: linear-gradient(135deg, rgb(230, 0, 255), rgb(33, 0, 65));
    width: 50vw;
    height: 50vh;
    border: 1px solid white;
    border-radius: 1vh;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    pointer-events: all;
    cursor: auto;
}

.startbutton {  
    font-size: 2.5vh;
    font-weight: 500;
    color: white;
    background-color: rgb(255, 0, 115);
    border-radius: 1vh;
    border: 1px solid;
    padding: 2%;
    cursor: pointer;
}

h1, h2, li {
    color: white;
}

h1, h2 {
    font-weight: 700;
}

h1 {
    font-size: 5vh;
    margin-top: -2vh;
    margin-bottom: -2vh;
}

h2 {
    margin-bottom: 0;
}

ul {
    margin-bottom: 6vh;
}

li {
    font-size: 115%;
    line-height: 1.5;
    list-style: symbols(cyclic "✪");
}

.looky {
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: 1vh;
    height: 20vh;
    width: 7.5vw;
    left: 0;
    bottom: 0;
    padding: 2%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    vertical-align: middle;
    /* background-color: rgba(0, 29, 37, 0.95); */
    background: linear-gradient(45deg, rgb(101, 0, 112) 30%, rgb(33, 0, 65) 80%);
    color: #fff;
}

.theclip {
    display: block;
    margin: auto;
}

.instructions {
    font-size: 12pt;
    line-height: 16pt;
    position: fixed;
    height: 10vh;
    width: 23vw;
    right: 4vw;
    bottom: 0;
    padding: 2%;
    background-color: rgba(0, 29, 37, 0.95);
    color: #fff;
}

.ampel {
    position: absolute;
    height: 14vh;
    width: 4vw;
    left: 0;
    top: 0;
    padding-top: 2%;
    background-color: rgba(0, 29, 37, 0);
    z-index: 50;
}

.light {
    height: 30px;
    width: 30px;
    top: 0;
    left: 0;
    margin-left: 2vh;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    /* align-items: center;
    align-self: center; */
    /* position: fixed; */
    z-index: 100;
}

#redlight {
    background-color: red;
    box-shadow: 0px 0px 20px 1px rgba(255,0,0,1);
    border-radius: 50%;
}

#yellowlight {
    margin-top: 0.5vh;
    background-color: yellow;
    box-shadow: 0px 0px 20px 1px rgba(255,255,0,1);
    border-radius: 50%;
}

#greenlight {
    margin-top: 0.5vh;
    background-color: rgb(0, 255, 0);
    box-shadow: 0px 0px 20px 1px rgba(0,255,0,1);
    border-radius: 50%;
}

:root {
   cursor: none;
   --cursorX: 50vw;
   --cursorY: 50vh; 
}

:root::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    pointer-events: none;
    background: radial-gradient(circle 15vh at var(--cursorX) var(--cursorY),
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.75) 88%,
    rgba(0,0,0,0.96) 100%);
 }

 #youwin {
    color: rgba(0, 29, 37, 0.95);
    font-family: 'Comic Sans MS', Arial, sans-serif;
    font-size: 20pt;
    font-weight: bolder;
    padding: 20px;
 }