body,
html {
  padding: 0;
  margin: 0;
  background-color:rgba(0,0,0,1.00);
  color:rgba(255,255,255,1.00);
  overflow: hidden;
  cursor: none;
}

body * {
  z-index: 20;
  color: rgba(0,0,0,1.00);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#content {
    position: absolute;
    width: 100%;
    height: 100vh;
}

#light {
  position: absolute;
  width: 250px;
  height: 250px;
  box-shadow: inset 0 0 50px 90px #000;
  background: #fff;
  z-index: 10;
}

.light-off {
  box-shadow: inset 0 0 150px 250px #000 !important;
}

.pogi {
  position: absolute;
  top: 40%;
  left: 45%;
}

.col-xs-6 {
    z-index: 10;
}

.wimmel {
    z-index: 10;
    position: absolute;
    
}